<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>0A7F2809-0FA6-4960-88D5-21872CADDCB3</key>
		<array/>
		<key>26D7C0FE-A688-4578-AB44-2BF0570C8A43</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A001EC66-63D2-4AB0-8BEE-B01E640F6FD7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7EC598F8-4A78-474F-AD2C-1186AB73D629</key>
		<array/>
		<key>B009C27C-C67A-4837-8475-8DA22C9EECD9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A001EC66-63D2-4AB0-8BEE-B01E640F6FD7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>simple scripts</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A001EC66-63D2-4AB0-8BEE-B01E640F6FD7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>1</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>argumenttext</key>
				<string>k </string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>17</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>T</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>163FBDFF-9045-4CFD-9D50-AB95B2C613A9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>k</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>export PATH="/usr/local/bin:$PATH"

/Users/peter/dotfiles/bin/kor --fmt=xml "{query}"
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>26D7C0FE-A688-4578-AB44-2BF0570C8A43</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>ㅏ</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>export PATH="/usr/local/bin:$PATH"

/Users/peter/dotfiles/bin/kor --fmt=xml "{query}"
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B009C27C-C67A-4837-8475-8DA22C9EECD9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>r</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>
echo '&lt;?xml version="1.0"?&gt;'
echo '&lt;items&gt;'

/usr/local/bin/Rscript -e "{query}" 2&gt;&amp;1 | while read line; do
  echo -n '&lt;item&gt;&lt;title&gt;'
  echo -n "$line" | tr -d '\n'
  echo -n '&lt;/title&gt;&lt;arg&gt;'
  echo -n "$line"
  echo -n '&lt;/arg&gt;&lt;/item&gt;'
done

echo '&lt;/items&gt;'
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0A7F2809-0FA6-4960-88D5-21872CADDCB3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>py</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>
echo '&lt;?xml version="1.0"?&gt;'
echo '&lt;items&gt;'

args="$*"

/usr/local/bin/python3 -c $'import math, os, sys\nview = lambda x: "\\n".join(repr(e) for e in x)\n''x = '"$args"$'\n''print("{:5,.8g}".format(x).replace("e-0", "e-").replace("e+0", "e+") if isinstance(x, (int,float)) else x)' 2&gt;&amp;1 |
perl -pale 's{&gt;}{&amp;gt;}g;s{&lt;}{&amp;lt;}g' |
while read line; do
  echo -n '&lt;item&gt;&lt;title&gt;'
  echo -n "$line" | tr -d '\n'
  echo -n '&lt;/title&gt;&lt;arg&gt;'
  echo -n "$line"
  echo -n '&lt;/arg&gt;&lt;/item&gt;'
done

echo '&lt;/items&gt;'
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7EC598F8-4A78-474F-AD2C-1186AB73D629</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sh</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string># Note: autocomplete will be running all sorts of odd partial scripts

PATH="$PATH:$HOME/bin:$HOME/dotfiles/OSX/bin:$HOME/dotfiles/bin:/usr/local/bin"
source ~/.bashrc

echo '&lt;?xml version="1.0"?&gt;'
echo '&lt;items&gt;'

args="$*"

/usr/local/bin/bash -c "$args" 2&gt;&amp;1 |
perl -pale 's{&gt;}{&amp;gt;}g;s{&lt;}{&amp;lt;}g' |
while read line; do
  echo -n '&lt;item&gt;&lt;title&gt;'
  echo -n "$line" | tr -d '\n'
  echo -n '&lt;/title&gt;&lt;arg&gt;'
  echo -n "$line"
  echo -n '&lt;/arg&gt;&lt;/item&gt;'
done

echo '&lt;/items&gt;'
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9582B9F1-52F5-418C-B1E6-2FAE824309D7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ptrcolor</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string># Note: autocomplete will be running all sorts of odd partial scripts

PATH="$PATH:$HOME/bin:$HOME/dotfiles/OSX/bin:$HOME/dotfiles/bin:/usr/local/bin"
source ~/.bashrc

echo '&lt;?xml version="1.0"?&gt;'
echo '&lt;items&gt;'

args="$*"

ptrcolor 2&gt;&amp;1 |
perl -pale 's{&gt;}{&amp;gt;}g;s{&lt;}{&amp;lt;}g' |
while read line; do
  echo -n '&lt;item&gt;&lt;title&gt;'
  echo -n "$line" | tr -d '\n'
  echo -n '&lt;/title&gt;&lt;arg&gt;'
  echo -n "$line"
  echo -n '&lt;/arg&gt;&lt;/item&gt;'
done

echo '&lt;/items&gt;'
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CC7783DE-3680-47BA-8C29-5764B8671981</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0A7F2809-0FA6-4960-88D5-21872CADDCB3</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>163FBDFF-9045-4CFD-9D50-AB95B2C613A9</key>
		<dict>
			<key>xpos</key>
			<integer>140</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>26D7C0FE-A688-4578-AB44-2BF0570C8A43</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>7EC598F8-4A78-474F-AD2C-1186AB73D629</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>9582B9F1-52F5-418C-B1E6-2FAE824309D7</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>A001EC66-63D2-4AB0-8BEE-B01E640F6FD7</key>
		<dict>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>B009C27C-C67A-4837-8475-8DA22C9EECD9</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>CC7783DE-3680-47BA-8C29-5764B8671981</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
